/**
 * Mixin
 *
 * @author Anh Vu <anh.vu@vertics.co>
 *
 * @copyright Vertics Oy 2020
 */

/**
 * Breakpoints
 *
 * 1em = 16px
 * phone
 * tab-port
 * tab-land
 * desktop
 * big-desktop
 */


@mixin breakpoint($view) {
  @if ($view == small-phone) {
    @media (max-width: 25em) {
      @content; // 400px
    }
  }

  @if ($view == phone) {
    @media (min-width: 25rem) and (max-width: 37.5em) {
      @content; // 400px - 600px
    }
  }

  @if ($view == tab-port) {
    @media (min-width: 37.5em) and (max-width: 56.25rem) {
      @content; // 600px
    }
  }

  @if ($view == tab-land) {
    @media (min-width: 56.25em) {
      @content; // 900px
    }
  }

  @if ($view == desktop) {
    @media (min-width: 75em) {
      @content; // 1200px
    }
  }

  @if ($view == desktop-large) {
    @media (min-width: 112.5em) {
      @content; // 1800px
    }
  }
}

@mixin default-container($padding-vertical) {
  padding: $padding-vertical 3.2rem;
  @include breakpoint(tab-port) {
    padding: $padding-vertical 6.4rem;
  }
  @include breakpoint(desktop) {
    padding: $padding-vertical 10%;
  }
  @include breakpoint(desktop-large) {
    padding: $padding-vertical 15%;
  }
}

// Font
@mixin normal-futura($color: $light-black) {
  font-family: $futura;
  font-size: $normal-font-size;
  color: $color;
}

// Animation
@mixin normal-transition($duration: 0.3s) {
  transition: all $duration;
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  -ms-transition: all $duration;
  -o-transition: all $duration;
}
