$futura: 'Futura';
$montserrat: 'Montserrat';

$big-font-size: 1.8rem;
$normal-font-size: 1.6rem;
$small-font-size: 1.4rem;

// Color
// Colors
$red: #FF4136;
$orange: #fc4f00;
$gray: #f5f5f5;
$white: #fff;
$border-color: #707070;
$black: #000;
$light-black: #3d4640;
$lighter-blue: #c4e6ff;
$light-blue: #82c9fd;
$blue: #0987e3;
$dark-blue: #001cf5;
$light-yellow: #fffb93;
$yellow: #fdea00;
$dark-gray: #767676;
$darker-gray: #707070;
$green: #279a7f;
